<html>
	<head>
		<meta http-equiv="Content-Type" content="plain/html; charset=UTF-8" />
		<link rel="stylesheet" href="../styles.css" type="text/css" />
		<meta name="keywords" content="python,перевод,flask" />
		<meta name="author" content="Владимир Ступин" />
		<!-- 2013-05-12 -->
		<title>Армин Роначер. Собственные страницы ошибок во Flask, 2012</title>
	</head>
	<body>
		<p><a href="..">&larr;</a></p>

		<h1>Армин Роначер. Собственные страницы ошибок во Flask, 2012</h1>

		<p>Перевод статьи: <a href="http://flask.pocoo.org/docs/patterns/errorpages/">Custom Error Pages</a></p>

		<p>Автор: Армин Роначер (Armin Ronacher)</p>

		<p>Flask поставляется с удобной функцией abort(), которая досрочно прерывает запрос с кодом ошибки HTTP. В комплекте с ней идут простая чёрно-белая страница ошибки с небольшим описанием, ничего особого.</p>

		<p>В зависимости от кода ошибки, с разной степенью вероятности, пользователь может увидеть эту страницу.</p>

		<h2>1. Обычные коды ошибок</h2>

		<p>Чаще всего, даже если приложение работает правильно, пользователь может увидеть следующие коды ошибок:</p>

		<p><i>404 Не найдено</i></p>

		<p>Старое доброе сообщение "чувак, ты допустил ошибку при вводе URL". Встречается настолько часто, что даже новички в интернете знают, что означает 404: блин, тут нет того, что я искал. Неплохо поместить на этой странице что-то более полезное, хотя-бы ссылку на стартовую страницу.</p>

		<p><i>403 Запрещено</i></p>

		<p>Если на сайте есть какая-нибудь разновидность ограничения доступа, может понадобиться отправить код 403 при попытке доступа к ресурсам, доступ к которым запрещён. Позволяет не потерять пользователя, который попытался получить доступ к запрещённому ресурсу.</p>

		<p><i>410 Удалено</i></p>

		<p>Вы знаете, что у "404 Не найдено" есть брат по имени "410 Удалено"? Мало кто делает так, что прежде существовавшие, но ныне удалённые ресурсы отвечают ошибкой 410 вместо 404. Если вы не удаляете документы из базы данных навсегда, а просто помечаете их как удалённые, можно сделать пользователю одолжение и воспользоваться кодом 410, а не отображать сообщение о том, что искомое было удалено навечно.</p>

		<p><i>500 Внутренняя ошибка сервера</i></p>

		<p>Обычно происходит в случае ошибок в программе или при повышенной нагрузке на сервер. Ужасно хорошо было бы иметь на этот случай приятную страницу, потому что рано или поздно в приложении может случится сбой (см. также: <a href="http://flask.pocoo.org/docs/errorhandling/">Журналирование ошибок приложения</a>).</p>

		<h2>2. Обработчики ошибок</h2>

		<p>Обработчик ошибок - это функция, похожая на функцию представления, только она принимает возникающие ошибки. Большинство ошибок - это ошибки типа HTTPException, но это могут быть и другие ошибки, потому что в обработчик внутренних ошибок сервера попадают все остальные не перехваченные экземпляры исключений.</p>

		<p>Обработчик ошибок регистрируется при помощи декоратора errorhandler() с кодом ошибки. Помните, что Flask не устанавливает код ошибки за вас, поэтому удостоверьтесь, что возвращаете в ответе код статуса HTTP.</p>

		<p>Здесь приведён пример обработки исключения "404 Страница не найдена":</p>

		<pre class="code">from flask import render_template

@app.errorhandler(404)
def page_not_found(e):
    return render_template('404.html'), 404</pre>

		<p>Шаблон для этого примера может быть таким:</p>

		<pre class="code">{% extends "layout.html" %}
{% block title %}Страница не найдена{% endblock %}
{% block body %}
  &lt;h1&gt;Страница не найдена&lt;/h1&gt;
  &lt;p&gt;Здесь нет того, что вы искали.
  &lt;p&gt;&lt;a href="{{ url_for('index') }}"&gt;Вот клёвое место.&lt;/a&gt;
{% endblock %}</pre>

		<h2>3. Примечания переводчика</h2>

		<p>После прочтения перевода у вас может возникнуть недоумение - что за "чувак" и "клёво"? Я не стал бы добавлять в текст эти слова по собственной инициативе - я просто попытался в меру своих скудных способностей воспроизвести стиль оригинального текста. В оригинале этим словам соответствуют chap и nice.</p>

		<p>Более подробный список кодов статуса HTTP можно увидеть здесь: <a href="http://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%BA%D0%BE%D0%B4%D0%BE%D0%B2_%D1%81%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%B8%D1%8F_HTTP">Список кодов состояния HTTP</a>.</p>

		<p><a href="https://flask-russian-docs.readthedocs.org/en/latest/patterns/errorpages.html">Этот</a> и другие переводы можно найти на <a href="https://flask-russian-docs.readthedocs.org/">сайте проекта перевода документации по Flask</a>. Автор проекта - Виталий Кузьмин aka ferm32.</p>

		<p><a href="mailto:vladimir@stupin.su?subject=Армин Роначер. Проектные решения во Flask, 2012">Написать автору перевода</a></p>

		<p><a href="..">&larr;</a></p>
	</body>
</html>
